* {
	box-sizing: border-box;
}

body {
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.gray {
	background-color: #F0F0F0;
}

.main-title {
	flex: 0 0 auto;
	margin: none;
	overflow: hidden;
	
	font-size: 32px;
	font-weight: lighter;
}

.split-view-h {
	flex: 0 1 100%;
	
	display: flex;
	flex-direction: row;
	& > * {
		flex: 0 1 100%;
	}
}
.main-split-view {
	margin: 16px;
	margin-top: 0px;
}
.script-list-container {
	// width: 50%;
	flex: 0 1 100%;
	margin: 0px;
	margin-right: 4px;
	// padding: none;
	// padding: -1px; // make table cells overlap border
	
	overflow: scroll;
	
	border: 1px solid #808080;
}
.script-list-table {
	// width: 100%;
	width: calc(100% + 2px); // without +2px, there's a 2px gap on the right side because of the negative margin
	// height: 100%;
	// margin: 0px;
	margin: -1px; // make table cells overlap border
	border: none;
	
	// table-layout: fixed;
	
	border-collapse: collapse;
	thead {
		background-color: #F0F0F0;
		// border-bottom: 1px solid #000000;
		td {
			// border-bottom: none;
		}
	}
	tr {
		height: 24px;
		
		position: relative;
		
		.script-buttons-slideout {
			float: right;
			
			flex: 0 0 auto;
			// position: relative;
			
			position: absolute;
			top: -1px;
			right: 0;
			
			// right: -100%;
			// width: 0;
			visibility: hidden;
			opacity: 0.0;
			height: 24px;
			
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			overflow: hidden;
			
			transition-property: opacity, visibility;
			// transition-duration: 0.25s;
		}
		&:hover .script-buttons-slideout {
			// display: block;
			visibility: visible;
			opacity: 1.0;
			// right: 0;
			width: auto;
			transition-property: opacity, visibility;
			// transition-duration: 0.25s;
		}
		
		.script-predelete-button {
			width: 24px;
			height: $width;

			background: transparent;
			border: none;
			
			padding: none;
			
			display: flex;
			flex-wrap: nowrap;
			justify-content: center;
			align-items: center;
			
			img {
				margin: 0px;
				padding: 0px;
				width: 16px;
				flex: 0 0 auto;
				
				filter: grayscale(1.0) brightness(2.0);
				transition-duration: 0.25s;
			}
			&:hover img {
				filter: none;
				transition-duration: 0.25s;
			}
			&:active img {
				filter: brightness(calc(240/255)); /* #F0F0F0 */
				transition-duration: 0.25s;
			}
		}
		.script-delete-button {
			border: none;
			margin: none;
			visibility: hidden;
			position: relative;
			top: 0;
			// bottom: 0;
			right: -100%;
			// right: 0;
			width: 0;
			height: 24px;
			align-self: stretch;
			// padding: 0px 8px 0px 8px;
			padding: 0;
			background-color: #FF0000;
			color: #FFFFFF;
			font-size: 10pt;
			transition-property: right, visibility, width;
			transition-duration: 0.25s;
			&:hover {
				background-color: #FF4040;
			}
		}
		/* .script-buttons-slideout:not(:hover) .script-delete-button {
			right: -100%;
			transition-property: right, visibility, width;
			transition-duration: 0.25s;
		} */
	}
	td {
		border: 1px solid #808080;
		
		padding: 0px 4px 0px 4px;
		vertical-align: middle;
	}
	.script-list-enabled-checkbox-column {
		width: 24px;
		padding: 0px;
		div { // wrapper to center the checkbox
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
		}
	}
}
.script-editor-container {
	flex: 0 1 100%;
	margin: 0px;
	margin-left: 4px;
	
	max-width: 75vw; // don't take up _too_ much space in the viewport
	
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	
	.toolbar {
		// background-color: #F0F0F0;
		padding: 0px;
	}
	.toolbar-textfield {
		background-color: #FCFCFC;
		&:focus {
			background-color: #FFFFFF;
		}
	}
	.save-button {
		flex: 0 0 auto;
		height: 24px;
		
		border: none;
		font-size: 10pt;
		background-color: #606060;
		color: white;
		
		transition: 0.25s;
		
		&:hover {
			// background-color: #0080FF;
			background-color: ActiveBorder;
			filter: brightness(125%);
		}
		&:active {
			// background-color: #0060C0;
			background-color: ActiveBorder;
			filter: brightness(200%);
		}
		&:focus {
			background-color: ActiveBorder;
			// border: 1pt solid ActiveBorder;
			box-shadow: 0px 0px 4px ActiveBorder;
			// filter: brightness(150%);
		}
	}
	.script-editor {
		width: 100%;
		height: 100%;
		margin: 0px;
		
		resize: none;
		
		border: 1px solid #808080;
		
		.CodeMirror, .CodeMirror-focused {
			width: 100%;
			height: 100%;
		}
		.CodeMirror-selected {
			// background: highlight;
		}
	}
}

.toolbar {
	flex: 0 0 auto;
	align-self: stretch;
	// height: 16px;
	
	padding: 8px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
}
.toolbar-space {
	flex: 0 1 100%;
}

.header-bar {
	.toolbar();
	height: auto;
	padding: 16px;
}

.toolbar-textfield {
	flex: 0 1 100%;
	
	// font-size: 8pt;
	height: 24px;
	background-color: #FFFFFF;
	border: 1pt solid #808080;
	border-bottom: none; // otherwise it causes a double-wide border with the item underneath it
	padding: 2px;
	transition: 0.25s;
	&:focus {
		z-index: 1; // put glowing border in front of other elements
		
		// border: 1pt solid #40C0FF;
		// box-shadow: 0px 0px 2px #0080FF;
		border: 1pt solid ActiveBorder;
		box-shadow: 0px 0px 2px ActiveBorder;
		transition: 0.25s;
	}
}

.header-button {
	flex: 0 0 auto;
	width: 32px;
	height: 32px;
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: none;

	border: none;
	background-color: transparent;
	border-radius: 4px;

	transition: 0.25s;

	&:hover {
		background-color: #80808040;
	}
	&:active {
		// background-color: #0060C0;
		// background-color: ActiveBorder;
		// filter: brightness(200%);
		background-color: #80808080;
	}
	&:focus {
		// background-color: ActiveBorder;
		// border: 1pt solid ActiveBorder;
		box-shadow: 0px 0px 4px #808080;
		// filter: brightness(150%);
	}
	
	img {
		width: 24px;
		height: 24px;
	}
}
